#map {
  position: relative;
  height: 91%;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

html {
  height: 100%;
  
}

body {

  background: linear-gradient(#414141,#000000);
  background-attachment: fixed;
  height: 100%;
  padding: 25px;
  color: white;

}

h1 {
  text-align:  center;
}

.form-check-label {
  color: white;
}


label {
  color: black;
  font-weight:  bold;
}








